<app-header></app-header>

<div class="container-fluid" id="main-container">
        <br/>

        <!--Play quiz components-->
       <!-- <app-quiz-container [playQuiz]="showQuizContainer">
        </app-quiz-container>-->

        <router-outlet></router-outlet>

        <div class="col-xs-6">
                <a routerLink="/create-quiz"><button>Create quiz</button></a>
        </div>
        <div class="col-xs-6">
                <a routerLink="/play-quiz"><button>Play quiz</button></a>
        </div>
</div>
