.colour-picker-container{
    border: 1px solid #b9b9b9;
    height: 200px;
}

.colour-picker-row{
    height: 100px;
}

.colour-cell{
    position: relative;
    height: 100px;
}

.colour-block{
    width: 90%;
    height: 80px;
    margin: auto;
    margin-top: 10px;
}

#colour1{
    background-color: #ff9933;
}

#colour2{
    background-color: #ff3300;
}

#colour3{
    background-color: #00cc00;
}

#colour4{
    background-color: #0066ff;
}

#colour5{
    background-color: #d680f0;
}

#colour6{
    background-color: #ffff00;
}
