<div class="row">
    <div class="col-xs-4 colour-picker-container">
        <div class="row colour-picker-row">
            <div class="col-xs-4 colour-cell">
                <a (click)="addBackgroundColour('#3cb371')">
                    <div class="colour-block" id="colour1"></div>
                </a>
            </div>
            <div class="col-xs-4 colour-cell"><div class="colour-block" id="colour2"></div></div>
            <div class="col-xs-4 colour-cell"><div class="colour-block" id="colour3"></div></div>
        </div>
        <div class="row colour-picker-row">
            <div class="col-xs-4 colour-cell"><div class="colour-block" id="colour4"></div></div>
            <div class="col-xs-4 colour-cell"><div class="colour-block" id="colour5"></div></div>
            <div class="col-xs-4 colour-cell"><div class="colour-block" id="colour6"></div></div>
        </div>
    </div>
</div>

