<div class="row">
    <div class="col-xs-4 colour-picker-container">
        <div class="row colour-picker-row">
            <div class="col-xs-4 colour-cell">
                <a (click)="addBackgroundColour('#ff9933')">
                    <div class="colour-block" id="colour1"></div>
                </a>
            </div>
            <div class="col-xs-4 colour-cell">
                <a (click)="addBackgroundColour('#ff3300')">
                    <div class="colour-block" id="colour2"></div>
                </a>
            </div>
            <div class="col-xs-4 colour-cell">
                <a (click)="addBackgroundColour('#00cc00')">
                    <div class="colour-block" id="colour3"></div>
                </a>
            </div>
        </div>
        <div class="row colour-picker-row">
            <div class="col-xs-4 colour-cell">
                <a (click)="addBackgroundColour('#0066ff')">
                    <div class="colour-block" id="colour4"></div>
                </a>
            </div>
            <div class="col-xs-4 colour-cell">
                <a (click)="addBackgroundColour('#d680f0')">
                    <div class="colour-block" id="colour5"></div>
                </a>
            </div>
            <div class="col-xs-4 colour-cell">
                <a (click)="addBackgroundColour('#ffff00')">
                    <div class="colour-block" id="colour6"></div>
                </a>
            </div>
        </div>
    </div>
</div>

