textarea, label{
    font-size: large;
}

label{
    color: rgb(5, 106, 126);
}

#save-question-btn{
    float: right;
    margin-bottom: 20px;
}

.btn-grn{
    background-color: #2f8524;
}

.btn-holder{
    background-color: #ffffff;
}



