<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-3 text-center navigation-elements">
        <div class="image-container">
            <img src="/src/assets/images/pencil.png">
        </div>
        <a routerLink="/new-quiz"><button class="nav-button btn btn-lg btn-primary">Create quiz</button></a>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-3 text-center navigation-elements">
        <div class="image-container">
            <img src="/src/assets/images/questionmark.png">
        </div>
        <a routerLink="/play-quiz"><button class="nav-button btn btn-lg btn-primary">Play quiz</button></a>
    </div>
</div>


